.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}