.content {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #202020;
}

.contactButton {
    margin-top: 50px;
    display: flex;
}

.contactDetails {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #202020;

    a {
        margin: 10px;
        color: var(--text-colour);
        font-size: calc(10px + 0.5vmin);
    }

    p {
        margin: 10px;
    }
}