.content {
    margin-top: 20vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #202020;

    h1 {
        margin-bottom:  10vh;
    }

    p {
        width: 700px;
        text-align: center;
    }
}