.st0{fill:#C9C9C9;stroke: var(--text-colour);stroke-width:1.02;stroke-miterlimit:10;}
.st1{fill:var(--background-colour);stroke:var(--text-colour);stroke-miterlimit:10;}
.st2{fill:#CFCFCE;stroke:#231F20;stroke-miterlimit:10;}
.st3{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st4{fill:none;stroke:#000000;stroke-width:0.77;stroke-miterlimit:10;}
.st5{fill:none;stroke:#000000;stroke-width:0.57;stroke-miterlimit:10;}
.st6{opacity:0.7;fill:none;stroke:#808285;stroke-width:1.02;stroke-miterlimit:10;enable-background:new    ;}
.st7{opacity:0.49;fill:none;stroke:#808285;stroke-width:1.02;stroke-miterlimit:10;enable-background:new    ;}
.st8{opacity:0.15;fill:none;stroke:#808285;stroke-width:1.02;stroke-miterlimit:10;enable-background:new    ;}
.st9{fill:none;stroke:#808285;stroke-width:1.02;stroke-miterlimit:10;}
.st10{opacity:0.62;fill:none;stroke:#CCCDCE;stroke-width:1.02;stroke-miterlimit:10;enable-background:new    ;}