.container {
    display: flex;
    justify-content: space-between;
    /* placement  */
    width: 600px;
    height: 200px;
    margin-bottom: 25px;
    animation: fadeIn 0.8s ease-in;
    flex-direction: row;
}

.imageBox {
    height: 100%;
    width: 60%;
    display: flex;
    margin-right: 25px;
}

.imageBox::nth-of-type(odd) {
    justify-self: right;
    flex-direction: row-reverse;
}
.infoBox::nth-of-type(odd) {
    justify-self: left;
    background-color: rgb(189, 115, 4);
        flex-direction: row-reverse;

}

.infoBox {
    height: 80%;
    width: 35%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 1);

    h2 {
        font-size: 16px;
        font-family: "Ledger", serif;
        font-weight: 400;
        /* color: var(--text-colour); */
        color: black;
    }
    p {
        font-size: 10px;
        width: 100%;
        text-align: left;
    }
}

.subtitle {
    font-size: 8px;
    font-weight: 50;
    margin: 5px 0px;
    opacity: 30%;
}

@media (width < 800px) {
    .container {
        flex-direction: column;
        width: 300px;
        height: auto;
        margin-bottom: 50px;
    }

    .imageBox {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .infoBox {
        width: 85%;
        height: auto;
        margin: 10px auto;
    }
}

/* keyframes */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}